{% extends 'portfolio_test/base.html' %}

{% load static %}

{% block content %} 

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>

 <script type="text/javascript">
window.onload = function () {

let data = []

chart_data = {{chart_data}}

chart_data.forEach(el => {data.push({y:el})})

console.log(data)

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	title:{
		text: "Historical Price Chart"
	},
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "line",
		dataPoints: data
	}
	]
});
chart.render();

}
</script> 


<div class="container">
<div class="row">

<div>
<form action="{% url 'show_stock' %}" method="get">
        <input name="stock" type="text" placeholder="Enter stock name..." />
        <button class="btn btn-primary btn-sm mx-1" type="submit">Submit
        </button>
</form>

<form action="{% url 'populate_stock_history' %}" method="post">
{% csrf_token %}
        <button class="btn btn-primary btn-sm mx-1" type="submit">Get Stocks
        </button>
</form>


</div>

<div class="col-6">
<table class="table">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>{{stock_result.name}}</td>
          </tr>
          <tr>
            <th scope="row">Symbol</th>
            <td>{{stock_result.symbol}}</td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td>${{stock_result.currentPrice}}</td>
          </tr>
          <tr>
            <th scope="row">Market Capitalisation</th>
            <td>${{stock_result.marketCap}}</td>
          </tr>
          {% comment %} <tr>
            <th scope="row">Security Type</th>
            <td>{{stock_result.quoteType}}</td>
          </tr> {% endcomment %}
          <tr>
            <th scope="row">Industry</th>
            <td>{{stock_result.industry}}</td>
          </tr>
          {% comment %} <tr>
            <th scope="row">Closing Price</th>
            <td>${{stock_result.close}}</td>
          </tr> {% endcomment %}
          <tr>
            <th scope="row">Volume</th>
            <td>{{stock_result.volume}}</td>
          </tr>
          <tr>
            <th scope="row">Change in Price</th>
            <td>${{stock_result.price_change}}</td>
          </tr>
          {% comment %} <tr>
            <th scope="row">Percent Change</th>
            <td>{{stock_result.percent_change}}%</td>
          </tr> {% endcomment %}

          <tr>
            <th scope="row">High</th>
            <td>${{stock_result.high}}</td>
          </tr>
          <tr>
            <th scope="row">Low</th>
            <td>${{stock_result.low}}</td>
          </tr>
        </tbody>
      </table>



    </div>

    <div class="col-6">

          {% comment %} <table class="table">
      <thead>
      <tr>
      <th scope="col">Days</th>
      <th scope="col">Forecast Price</th>
      <th scope="col">Upper Range</th>
      <th scope="col">Lower Range</th>      
      </tr>
      </thead>

      <tbody>
      <tr>
        <th scope="row">30</th>
        <th>${{forecast_result.30_days_yhat}}</th>
        <th>${{forecast_result.30_days_yhat_upper}}</th>
        <th>${{forecast_result.30_days_yhat_lower}}</th>
      </tr>

      <tr>
        <th scope="row">180</th>
        <th>${{forecast_result.180_days_yhat}}</th>
        <th>${{forecast_result.180_days_yhat_upper}}</th>
        <th>${{forecast_result.180_days_yhat_lower}}</th>
      </tr>

  <tr>
        <th scope="row">365</th>
        <th>${{forecast_result.365_days_yhat}}</th>
        <th>${{forecast_result.365_days_yhat_upper}}</th>
        <th>${{forecast_result.365_days_yhat_lower}}</th>
        </tr>
      </tbody>

      </table> {% endcomment %}
    </div>
</div>
</div>
</div>


{% endblock content %}

